@import "grid";

body {
  background-color: #245D76;
  margin: 0; }

p {
  margin: 0 auto;
  width: 500px;
  text-align: center;
  line-height: 30px;
  font-size: 1.6em;
  margin-top: 20px;
  font-family: "Helvetica Neue";
  font-weight: 100;
  color: #9fbdd1; }
  p a {
    color: #9fbdd1;
    font-weight: 900; }

form {
  margin-top: 100px;
  width: 600px;
  height: 500px;
  margin: 0 auto;
  padding-top: 20px; }

header {
  height: 100px;
  background-color: #286783;
  padding: 20px 0; }

header div {
  width: 600px;
  margin: 0 auto;
  color: #102B36;
  font-size: 2em;
  text-align: center;
  font-weight: 900; }

h1 {
  font-family: 'Pacifico', cursive;
  text-align: center;
  margin: 0 auto;
  font-size: 3em;
  color: #a3dcee; }

.grid-column {
	height: 100px;
	background-color: rgb(159, 189, 209);
	color: white;
}

.grid-row {
	margin-top: 10px;
}